.tic-tac-toe tr {
    display: block;
    border: 0;
    margin: 0;
}

.tic-tac-toe td {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    height: 100%;
    width:22.5vmin;
    font-size: 14.7vmin;
}

